<div class="jumbotron text-center">
    <h1>Welcome to Dev Match</h1>
    <h3>A membership site where enterpreters can meet developers.</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sing up for free za osnovne privilegije u komjunitiju</h4>
            <br/>
            <%= link_to "Sign up free", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for premium akaunt za 10$ mjesečno i imaš sve privilegije</h4>
            <%= link_to "Sign up Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>